.colorButton {
    justify-content: center; /* หรือใช้ค่าอื่นๆ ที่คุณต้องการ */
    background-color: #1976d2;
    color: white;
    transition: background-color 0.3s, color 0.3s; /* เพิ่มการเปลี่ยนแปลงที่นุ่มนวล */
  
  }
  
  .colorButton:hover {
    background-color: #005bb5; /* เปลี่ยนสีพื้นหลังเมื่อ hover */
    color: lightgray; /* เปลี่ยนสีตัวอักษรเมื่อ hover */
  }
  